<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="Keywords" content="<%= info.keywords%>" />
    <meta name="Description" content="<%= info.description%>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <title><%= info.title+' - '+title%></title>
    <link type="text/css" rel="stylesheet" href="/css/base.css" />
    <link type="text/css" rel="stylesheet" href="/css/global.css" />
</head>
<body>
头部
<%-body %>
<script src="/js/jquery-1.11.3.js" type="text/javascript"></script>
</body>
</html>